name: NPM Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm install
    - name: NPM Audit Scan#1
      run: npm audit --json > npm-audit-results.json
        continue-on-error: true
    - name: NPM Audit Scan#2
        uses: actions/upload-artifact@v3
        with:
          name: npm-audit-results
          path: npm-audit-results.json
