name: NPM Publish
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
        registry-url: https://registry.npmjs.org/
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm install
    - name: Publish Package to NPM Registry
      run: npm publish --otp=<${{secrets.OTP}}>
      env:
        NODE_AUTH_TOKEN: ${{secrets.NPM_SECRET}}

