name: NPM Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
    - name: Audit
      run: npm audit
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm install
