name: NPM Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      id-token: write
    steps:
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
    - name: Checkout Repository
      uses: actions/checkout@v3
    - name: Install Dependencies
      run: npm install
  SCA_check:
      runs-on: ubuntu-latest
      steps:
        - uses: actions/checkout@master
        - name: Run Snyk to check for vulnerabilities
          uses: snyk/actions/node@master
          env:
            SNYK_TOKEN: ${{ secrets.SNYK_TOKEN }}
