name: NPM Build
on:
  push:
    branches: [master]
  pull_request:
    branches: [master]
jobs:
  publish:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write
    steps:
    - name: Setup Node.js 18
      uses: actions/setup-node@v3
      with:
        node-version: 18
        check-latest: true
        registry-url: 'https://npm.pkg.github.com'
        scope: '@d60r13'
    - name: Checkout Repository
      uses: actions/checkout@v3
    - run: npm install
    - name: Publish
    - run: npm publish
      env:
        NODE_AUTH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
